# ─── BASE DE DATOS ───────────────────────────────────────
MARIADB_ROOT_PASSWORD=cambia_esta_contrasena_root
MARIADB_DATABASE=glpi
MARIADB_USER=glpi_user
MARIADB_PASSWORD=cambia_esta_contrasena_glpi

# ─── GLPI ────────────────────────────────────────────────
GLPI_VERSION=10.0.16

# ─── TIMEZONE ────────────────────────────────────────────
TZ=Europe/Madrid

# ─── RED ─────────────────────────────────────────────────
NGINX_PORT=8080
